<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Debug builds use a different signing cert, so autoVerify fails.
         Adding the intent filter here without autoVerify ensures the app
         still receives deep link intents during development/sideloading. -->
    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="wreadom.in" />
                <data android:scheme="https" android:host="wreadom.in" />
                <data android:scheme="http" android:host="www.wreadom.in" />
                <data android:scheme="https" android:host="www.wreadom.in" />
            </intent-filter>
        </activity>
    </application>
</manifest>
