<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Profile builds also use a different signing cert, so same fix as debug. -->
    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="wreadom.in" />
                <data android:scheme="https" android:host="wreadom.in" />
                <data android:scheme="http" android:host="www.wreadom.in" />
                <data android:scheme="https" android:host="www.wreadom.in" />
            </intent-filter>
        </activity>
    </application>
</manifest>
