{
  "applinks": {
    "apps": [],
    "details": [
      {
        "appIDs": ["REPLACE_WITH_TEAM_ID.in.wreadom.librebookFlutter"],
        "components": [
          {
            "/": "/*"
          }
        ]
      }
    ]
  }
}
